.infobutton{
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    font-size: 35px;
}

.infobutton:hover{
    color: azure;
    background-color: brown;
}

.infobutton:hover::before{
    content: "info ";
}

.services a{
  text-decoration: none;
}

.services h4:hover{
    text-decoration: underline;
  }